html {
    height: 100vh;
    overflow: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(180deg, rgba(94,0,0,1) 0%, rgba(171,0,0,1) 50%, rgba(0,0,0,1) 100%) no-repeat;
}
.omegafire{
    width: 100vw;
    height: 100%;
    position: absolute;
    background: url("fire.gif") no-repeat;
    background-size: 100%; 
    background-position-y: bottom;
}
h1 {
    text-align: center;
    font-size: 8vw;
    background: -webkit-linear-gradient(rgb(127, 66, 0), rgb(255, 166, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input {
    margin: 0 auto;
    height: 50px;
    padding: 0;
    font-size: 30px;
    z-index: 1001;
}
.wrapper {
    position: relative;
    background-color: #00000041;
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    min-height: 200px;
    min-width: 200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.wrapper svg {
    width: 100%;
    height: 100%;
    animation: 10s linear infinite both idle;
}

.wrapper button {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    z-index: 1001;
    width: 80px;
    height: 80px;
    border: 5px solid black;
    border-radius: 50%;
    font-weight: 600;
}
.wrapper button:hover {
    animation: 0.5s linear infinite both hardbass;
}
.wrapper button:hover + svg {
    animation-duration: 0.25s;
}
@keyframes idle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes hardbass {
    0% {
        transform: scale(1);
    }
    25% {
        color: blue;
        border-color: blue;
    }
    50% {
        transform: scale(5);
        color: red;
        border-color: red;
    }
    75% {
        color: yellow;
        border-color: yellow;
    }
    100% {
        transform: scale(1);
    }
}